.button{
    background-color:#1E39CA;
    border-radius: 10px;
    color: white;
    padding: 20px 35px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}

.textbox{
    width: 200px;   
    padding: 15px 0px;
    margin: 14px 0px;
    border-bottom: 14px;;
       
}
 .input{
     border: none;
     outline:none;
     background:white;
     width: 250px;
     height: 7vh;
     margin: 0 10px;
     font-size:20px;
 }
 
 .loginbox{
     width:400px;
     position:absolute;
     top:20px;
     left:38;
     transform:translate (-50% -50%)
 }